<style>
  .container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .form-group{
    color: rgb(211, 205, 205);
  }
  .para{
    font-size: 15;
    color: rgb(95, 61, 195);
  }
  .sec-admin{
    margin-top: 200px;
  }
  a{
    color: rgb(66, 80, 159);
  }
</style>
<section class="sec-admin">
  <div class="container mt-5" style="">
    <h2>Admin Login</h2>
    <form action="/admin/login" method="POST" style="width: 50%;" class="mt-4">
    {{#if loginErr}}
      <p class="error text-danger">{{loginErr}}</p>
    {{else}}
    {{/if}}
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <p id="emailHelp" class="para">We'll never share
          your email with anyone else.</p>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <div class="row" style="display: flex; justify-content: flex-end;">
        
      <button type="submit" class="btn btn-primary mt-4">Submit</button>
      </div>
      <div class="row mt-4" style="text-align: center;">
        <a href="/admin/signup">Create an account?</a>
      </div>
    </form>
  </div>
</section>