<style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: grey;
            margin: 0;
            padding: 0;
        }

        .container-fluid {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .profile-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            background-color: #e5e0e0;
        }

        .profile-image {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
        }

        .profile-image img {
            width: 100%;
            height: auto;
        }

        .details {
            flex-grow: 1;
            text-align: left;
        }

        .details h2 {
            margin-bottom: 20px;
        }

        .logout-btn, .edit-btn {
            margin-top: 20px;
        }

        .logout-btn button {
            background-color: #dc3545;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .logout-btn button:hover {
            background-color: #c82333;
        }

        .edit-btn button {
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .edit-btn button:hover {
            background-color: #218838;
        }
        h2{
            font-size: 50;
            font-weight: 500;
        }
        p{
            font-weight: 400;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
<section>

    

<div class="container-fluid">
    <div class="profile-box">
        <div class="profile-image">
            <img src="/images/admin.png" alt="Profile Image">
        </div>
        <div class="details">
            <h2><b>Admin Profile</b></h2>
            <p><strong>Name:</strong> {{this.admin.name}}</p>
            <p><strong>Email:</strong> {{this.admin.email}}</p>
        </div>
        <div class="button-container">
            {{!-- <div class="edit-btn">
                <button onclick="editProfile()">Edit</button>
            </div> --}}
            <div class="logout-btn">
                <button ><a href="/admin/logout" style="text-decoration: none; color: white;">Logout</a></button>
            </div>
        </div>
    </div>
</div>


</section>