.order-table {
    margin-bottom: 0;
}
.div{
    overflow: hidden;
    border-radius: 10px;
}
table{
    border-radius: 5px;
}
.order-table tr{
    border: none;
}
.order-table th, .order-table td {
    border: none;
    background-color: floralwhite;
}


.table-row:hover {
    background-color: #5a7e51;
}

.details-btn {
    background-color: #1b1d1f;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.details-btn:hover {
    background-color: #707263;
    color: #000000;
}
.total-amount{
    color: green;
    font-size: large;
    font-weight: bold;
}
.product-box {
    border: 4px solid lightblue  ; /* Add borders for the box */
    padding: 10px; /* Add padding for spacing inside the box */
    margin-bottom: 5px; /* Add margin for spacing between boxes */
    border-radius: 9px;
}
h2{
    color: floralwhite;
}